<div class="projects-container">
	<div class="projects-table-wrapper">
		<div class="projects-table-scroll">
			<table class="projects-table">
			<thead>
				<tr>
					<th>Project</th>
					<th class="company">Company</th>
					<th class="dates">Start Date</th>
					<th class="dates">End Date</th>
					<th class="position">Position</th>
					<th>Available</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of projects">
					<td>{{ item.project }}</td>
					<td class="company">{{ item.company }}</td>
					<td class="dates">{{ item.startDate | date:'yyyy-MM' }}</td>
					<td class="dates">{{ item.endDate | date:'yyyy-MM' }}</td>
					<td class="position">{{ item.position }}</td>
					<td>
						<span [class.available]="item.available" [class.unavailable]="!item.available">
							{{ item.available ? 'Yes' : 'No' }}
						</span>
					</td>
					<td>
						<ng-container *ngIf="item.available; else plainUrl">
							<a [href]="item.url" target="_blank" rel="noopener">{{ item.url }}</a>
						</ng-container>
						<ng-template #plainUrl>
							<span>{{ item.url }}</span>
						</ng-template>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
