.schenanigans-container {
  background-image: url('/schen-background.webp');
    padding: 2rem;
    height: 1014px;
    background-repeat: no-repeat;
    background-size: cover;
}

.schenanigans-content {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 1.5rem;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    padding: 2.5rem 2rem 2rem 2rem;
    max-width: 1450px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    margin: auto 1rem;
}
